$primaryColor: #3498db;
$secondaryColor: #2980b9;
$greyColor: #7f8c8d;
$font: Calibri Light, sans-serif;

body {
  font-family: $font;
  font-size: 1.5em;
  text-transform: uppercase;
  h1{
    color: $primaryColor;
    text-align: center;
  }
  h2{
    color:  $secondaryColor;
    text-align: center;
  }
}

#team-members {
  clear: both;
}

#team-members .member {
  float: left;
  /*border: 1px solid gray;*/
  margin: 10px;
  padding: 6px;
}

#team-members .member img {
  width: 200px;
  height: 200px;
  border-radius: 150px;
  // -moz-border-radius: 150px;
  // -webkit-border-radius: 150px;
}
#team-members .member img:hover {
    transform: scale(1.1,1.1);
    transition: 1s;
}

#team-members .member div.name {
  text-align: center;  
  font-family: $font;
  color:  $secondaryColor;
}
